body {
    margin: 0;
    min-height: 100vh;

    display: flex;
    align-items: center;    /* vertical */
    justify-content: center; /* horizontal */
}


#board {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    width: 300px;
    background: #bbada0;
    padding: 10px;
    border-radius: 10px;
}

.gridElement {
    aspect-ratio: 1 / 1;
    background: #cdc1b4;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
    border-radius: 6px;
}

.container {
    text-align: center;
}

.playerButton {
    margin-top: 10px;
}